doctype 5
html(lang="en")   
    head 
    body 
        - const listStyles = { "color": "#36454F", "text-transform": 'uppercase', "font-weight": "600" }
        p #{name},

        p Please click link below to reset your password.
        
        a(href=`#{url}`, target='_blank') Reset Password